#contact {
	padding: 80px 0;
}
.contact-container {
	max-width: 930px;
	margin: 0 auto;
	font-size: 14px;
	p {
		margin-bottom: 10px;
	}
}
.list-contact {
    padding: 50px 0 70px 0;
    ul {
    	display: flex;
    	width: 100%;
    	justify-content: center;
    	align-items: center;
    	margin: 0 -15px;
    	li {
    		list-style: none;
    		padding: 0 15px;
    	}
    }
}
.box-place {
	margin-bottom: 60px;
	&:last-child {
		margin-bottom: 0;
	}
	li {
		list-style: none;
		padding: 4px 0;
	}
}