@media (max-width: 767px) {
  .row {
    margin: 0 -5px; }
    .row .col-md-1, .row .col-md-2, .row .col-md-3, .row .col-md-4, .row .col-md-5, .row .col-md-6, .row .col-md-7, .row .col-md-8, .row .col-md-9, .row .col-md-10, .row .col-md-11, .row .col-md-12 {
      padding: 0 5px; } }
@media (max-width: 1023px) and (min-width: 768px) {
  .row {
    margin: 0 -5px; }
    .row .col-md-1, .row .col-md-2, .row .col-md-3, .row .col-md-4, .row .col-md-5, .row .col-md-6, .row .col-md-7, .row .col-md-8, .row .col-md-9, .row .col-md-10, .row .col-md-11, .row .col-md-12 {
      padding: 0 5px; } }
@media (max-width: 1023px) and (min-width: 768px) {
    .header-desk ul li {
        padding-left: 25px;
    }

    .slide-banner .item .info h2 a {
        font-size: 35px;
    }

    .slide-banner .item .info .desc {
        padding: 20px 0;
    }

    .slide-banner .item .info {
        max-width: 65%;
    }
    body .container {
        max-width: 100%;
    }

    .info-about .right {
        padding-left: 15px;
    }

    .list-degisn .item {
        padding: 15px;
    }

    .list-degisn .item h4 {
        font-size: 18px;
    }

    .list-collection .col-md-2 {
        flex: 0 0 calc(100% / 3);
        max-width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 1364px) and (min-width: 1024px) {
    .slide-banner .item .info h2 a {
        font-size: 50px;
    }

    .slide-banner .item .info .desc {
        padding: 35px 0;
    }

    .info-about .right {
        padding-left: 10px;
    }
    .list-collection .col-md-2 {
        flex: 0 0 calc(100% / 3);
        max-width: 100%;
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .header-desk {
        display: none;
    }

    body .container {
        max-width: 100%;
    }
    .pb-100 {
        padding-bottom: 20px;
    }

    main {
        margin-top: 46px;
    }

    .slide-banner .item .info {
        max-width: 80%;
    }

    .slide-banner .item .info h2 a {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .slide-banner .item .info .desc {
        display: none;
    }

    .readmore a {
        height: 35px;
        line-height: 35px;
        font-size: 14px;
        padding: 0 20px;
    }

    .slick-dots {
        padding-bottom: 20px;
    }

    .slick-slider {
        margin-bottom: 0;
    }

    .title h2 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .title {
        margin-bottom: 15px;
        text-align: center !important;
    }

    .list-func .item {
        padding: 20px;
    }

    .list-func .item .icon {
        margin-bottom: 6px;
    }

    #about {
        padding: 15px 0;
    }

    #about:after {
        height: 100%;
        top: 0;
        width: 100%;
    }

    .info-about .right {
        padding-left: 0;
        padding-top: 20px;
    }

    .info-about .right h3 {
        font-size: 23px;
        margin-bottom: 10px;
    }

    .info-about .right .desc {
        padding-bottom: 15px;
        text-align: justify;
    }
    #degisn {
        padding: 20px 0;
    }

    .list-degisn .item h4 {
        font-size: 18px;
    }
    .title p br {
        display: none;
    }

    #collection {
        padding: 20px 0;
    }

    .list-collection {
        padding: 0;
    }
    #feedback {
        padding: 20px 0;
    }

    .list-feed {
        padding-top: 0;
    }

    .list-feed .item .desc {
        padding: 10px;
        font-size: 14px;
    }
    .list-feed .item .desc:before {
        display: none;
    }
    .list-collection .item .new a, .list-collection .item .sale a {
        font-size: 10px;
        height: 20px;
        line-height: 20px;
        padding: 0 10px;
        left: unset;
        right: 10px;
    }
    #contact {
        padding: 20px 0;
    }

    .contact-info .desc {
        padding-bottom: 10px;
    }

    .contact-info .list-info p {
        margin-bottom: 10px;
    }

    .list-info.nuni {
        margin-bottom: 15px;
    }

    .form-contact .item input {
        height: 40px;
        padding: 0 15px;
        font-size: 13px;
    }

    .form-contact .item textarea {
        height: 100px;
        padding: 15px;
        font-size: 13px;
    }
    .modal-header {
        padding: 5px;
    }

    .modal-body {
        padding: 5px;
    }

    .modal .modal-dialog iframe {
        height: 300px;
    }
    nav#menu-list ul li a.active {
        color: #9a5dc2;
    }
    .menu-mobile {
        display: block !important;
        padding: 5px 0;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 9;
        border-bottom: 1px solid #ddd;
        background: #fff;
    }
    .menu-mobile .row {
        align-items: center;
    }
    nav#menu-list {
        background: #f3f3f3;
        padding: 20px;
        position: fixed;
        width: 100%;
        height: calc(100% - 54px);
        top: 46px;
        transition: .4s all;
        left: -100%;
    }
    nav#menu-list.active {
        transition: .4s all;
        left: 0;
        overflow: auto;
    }
    .menu-mobile .header a.active i:before {
        content: "\f00d";
    }
    nav#menu-list ul li {
        list-style: none;
    }

    nav#menu-list ul li a {
        color: #272727;
        font-size: 15px;
        font-weight: normal;
        text-transform: uppercase;
        display: block;
        padding: 10px 0;
    }
    .menu-mobile .header a {
        color: #9a5dc2;
        font-size: 20px;
    }
    .mobile-top .logo img {
        height: 35px;
    }
    body.active {
        overflow: hidden;
    }
    .slide-banner .slick-dots {
        bottom: -10px;
    }

    .slick-dots li {
        width: 10px !important;
        height: 10px !important;
    }

    .pb-100 {
        padding-bottom: 30px;
    }

    .pt-100 {
        padding-top: 30px;
    }
    .title p {
        font-size: 14px;
        line-height: initial;
    }

    .title {
        text-align: center !important;
    }

    .info-about .desc {
        text-align: justify;
        color: #000000;
    }

    .info-about .btn-contact {
        padding-top: 15px;
    }

    .btn-contact a {
        height: 40px;
        line-height: 40px;
        padding: 0 25px;
        font-size: 16px;
    }

    .info-count .left {
        padding-right: 0;
    }

    .info-count .right {
        padding-left: 0;
        padding-top: 15px;
    }
    .info-count .info-right h3 {
        padding-bottom: 15px;
        font-size: 18px;
    }

    .info-count .info-right {
        padding: 20px 10px;
    }

    .info-count .counter {
        padding: 20px 0;
    }

    .info-count .counter ul {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
    }

    .info-count .counter ul li {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 13px;
    }

    .info-count .counter ul li span {
        margin-bottom: -21px;
        font-size: 20px;
        padding-top: 9px;
    }

    .btn-contact {
        padding-top: 10px;
    }

    .info-count .counter ul li:after {
        display: none;
    }
    .slide-service .item .avarta .desc {
        display: none;
    }

    .slide-service .item .info {
        padding: 10px;
        background-image: linear-gradient(rgba(154, 93, 193, 0.9), rgba(154, 93, 193, 0.9));
    }

    .slide-service .item .info a {
        font-size: 18px;
    }
    .slide-member .item .info {
        padding: 10px;
    }

    .slide-member .item .info .desc {
        display: none;
    }

    .slide-member .item .info h3 {
        font-size: 16px;
        line-height: initial;
    }

    .slide-member .item .info span {
        padding: 0;
        font-size: 13px;
    }
    .list-step .item .number span {
        font-size: 100px;
        line-height: initial;
    }

    .list-step .item .number h3 {
        font-size: 20px;
    }

    .list-step .item .desc {
        font-size: 13px;
        text-align: justify;
    }
    .list-price .col-md-4 {
        margin-bottom: 15px;
    }

    .list-price .col-md-4:last-child {
        margin-bottom: 0;
    }
    .list-feedback .item .desc {
        padding: 10px;
        font-size: 14px;
    }

    .list-feedback .slick-dots {
        display: none !important;
    }

    .list-contact .item input {
        padding-right: 10px;
        padding-left: 40px;
    }

    .list-contact .item span {
        left: 10px;
    }

    .btn-contact button {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        text-transform: uppercase;
    }

    #maps iframe {
        height: 200px;
    }
    footer {
        padding: 30px 0;
        font-size: 14px;
    }

    .footre-top .col-md-5:first-child .item {
        padding-right: 0;
    }

    .footre-top .col-md-5:last-child .item {
        padding-left: 0;
    }

    .footre-top .logo {
        padding: 31px 0;
    }

    .footre-top .item .desc {margin-bottom: 15px;}
}

@media (max-width: 575px) {
    .list-collection .item {
        display: inline-flex;
        width: 100%;
    }

    .list-collection .item .avarta {
        flex: 0 0 45%;
        margin-right: 10px;
    }

    .list-collection .col-md-2 {
        margin-bottom: 15px;
    }

    .list-collection .item .info {
        padding: 5px 0;
    }

    .list-collection .item .info h3 a br {
        display: none;
    }

    .list-collection .item .info h3 a {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .list-collection .item .price {
        font-size: 13px;
        padding-bottom: 0;
    }

    .list-collection .item .price del {
        font-size: 13px;
    }

    .list-collection .col-md-2:last-child {
        margin-bottom: 0;
    }
    .reserved {
        padding: 15px 0;
        text-align: center;
    }

    .social.text-right {
        text-align: center !important;
        margin-top: 5px;
    }
    .list-gallery {
        display: none;
    }
    #box-gallery {
        padding: 0;
    }
}
@media (max-width: 767px) and (min-width: 576px) {
    .list-collection .item .info {
        padding: 10px;
    }

    .list-collection .item .price {
        font-size: 14px;
    }

    .list-collection .item .info h3 a {
        font-size: 18px;
    }
    .col-md-1 {
        display: none;
    }
    .slide-service .item .info a {
        font-size: 16px;
        line-height: initial;
        display: block;
    }

    .list-gallery .item img {
        height: 180px;
    }
    .list-price .price-big .info {
        font-size: 15px;
    }

    .list-price .price-big .info h3 {
        font-size: 15px;
    }

    .list-price .small-item h4 {
        font-size: 13px;
    }

    .list-price .small-item {
        font-size: 13px;
    }

    .list-price .list-other {
        padding: 10px;
    }

    .list-price .item {
        padding-bottom: 20px;
    }

    .list-feedback .item .info h4 {
        font-size: 16px;
    }
}
@media (max-width: 1023px) and (min-width: 768px) {
    .slide-service .item .info {
        padding: 20px 10px;
    }

    .slide-service .item .info a {
        font-size: 20px;
        display: block;
    }

    .slide-member .item .info h3 {
        font-size: 22px;
    }

    .info-count .info-right h3 {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .info-count .info-right {
        padding: 20px 10px;
    }

    .list-gallery .item img {
        height: 180px;
    }

    .info-count .counter {
        padding: 20px 0 0 0;
    }

    .info-count .counter ul li:after {
        display: none;
    }

    .info-count .counter ul li span {
        font-size: 20px;
        margin-bottom: -20px;
    }

    .info-count .counter ul li {
        width: 60px;
        height: 60px;
        font-size: 13px;
    }

    .list-step .item .desc {
    }

    .list-price .price-big .info {
        font-size: 18px;
    }

    .list-price .price-big .info h3 {
        font-size: 18px;
    }
    .header-desk ul li:last-child {
        padding-left: 20px;
    }

    .header-desk ul li:last-child a {
        height: 40px;
        line-height: 40px;
        font-size: 13px;
        padding: 0 10px;
        overflow: hidden;
        text-align: center;
    }

    .header-desk ul li {
        padding-left: 10px;
    }

    .header-desk ul li a {
        font-size: 13px;
    }
    main .container {
        overflow: hidden;
    }
}

@media (max-width: 1200px) and (min-width: 1024px) {
    .header-desk ul li:last-child {
        padding-left: 30px;
    }

    .header-desk ul li:last-child a {
        padding: 0 20px;
        font-size: 16px;
    }

    .header-desk ul li {
        padding-left: 20px;
    }

    .header-desk ul li a {
        font-size: 15px;
    }
}