
@media(max-width: 767px) {
    .header-top {
        display: none;
    }

    .header-menu {
        display: none;
    }
    html {
        overflow-x: hidden;
    }
    body {
        font-size: 14px;
        overflow-x: hidden;
    }
    body .container {
        padding: 0 15px;
        max-width: 100%;
    }

    .caption-banner .desc {
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .caption-banner h1 {
        font-size: 20px;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    .slide-banner img {
        height: 250px;
        object-fit: cover;
    }

    .item-srv {
        height: 80px;
    }

    .item-srv .icon img {
        max-height: 35px;
    }

    .item-srv .icon {
        flex: 0 0 40px;
    }

    .box-srv .col-md-3 {
        border-bottom: 1px solid #ebebeb;
    }
    .box-srv {
        margin-bottom: 30px;
    }

    .title h2 {
        font-size: 18px;
        margin-bottom: 0;
    }

    .nav li a {
        font-size: 15px;
    }

    .box-product .title {
        margin-bottom: 20px;
    }

    .slide-favorite {
        padding-bottom: 20px;
    }

    .title li {
        padding-right: 20px;
        margin-bottom: 5px;
    }

    .title li:first-child {
        flex: 0 0 100%;
    }

    .slick-arrow {
        display: none !important;
    }

    .prd-small {
        padding-top: 10px;
    }

    .prd-small .item {
        padding: 10px 0;
    }

    .prd-small .item {
        border-bottom: 1px solid #ebebeb;
    }

    .box-product {
        padding-bottom: 20px;
    }

    .info-subscribe {
        color: #fff;
    }

    .box-subscribe {
        padding: 65px 0;
    }

    .form-sub input {width: 100%;margin-bottom: 15px;}

    .info-subscribe h3 {
        font-size: 20px;
    }

    .prd-small .item .price {
        text-align: left;
    }

    .prd-small .item .avarta img {
        width: 100%;
    }
    .box-gall .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
    }

    .box-gall .col-md-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .box-gall .avarta {
        margin-bottom: 15px;
    }

    .title-line {
        margin: 30px 0 15px 0;
    }

    .title-line h2 span {
        font-size: 18px;
        padding-right: 15px;
    }

    .box-gall {
        padding-bottom: 15px;
        margin-bottom: 25px;
    }

    .title-news h2 {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .list-news-home .item {
        margin-bottom: 15px;
    }

    .list-news-home .readmore {
        display: none;
    }

    .list-news-home .avarta {
        margin-right: 15px;
        flex: 0 0 45%;
    }

    .list-news-home h4 a {
        font-size: 16px;
        font-weight: 500;
    }

    .box-news .col-md-6 {
        margin-bottom: 35px;
    }

    .box-news .col-md-6:last-child {
        margin-bottom: 0;
    }

    .box-news {
        padding-bottom: 30px;
    }

    .box-project {
        display: none;
    }

    .box-feedback {
        border-top: 1px solid #ebebeb;
        padding: 30px 0 0 0;
    }

    .slide-feed {
        margin-bottom: 20px;
    }

    .content-feed {
        padding-bottom: 30px;
    }

    .form-regis input {
        width: 100%;
    }

    .form-regis button {
        font-size: 12px;
        letter-spacing: 0;
        padding: 0 15px;
    }

    .form-regis {
        margin-top: 20px;
    }
    footer {
        padding: 30px 0;
    }

    footer .logo {
        margin-bottom: 30px;
    }

    .content-ft .col-md-3 {
        margin-bottom: 30px;
    }

    .social ul {
        text-align: center !important;
    }
    .breadcrumbs .avarta img {
        height: 200px;
        object-fit: cover;
    }

    .breadcrumbs .info-bread {
        color: #000000;
    }

    .breadcrumbs .info-bread h2 {font-size: 20px;font-weight: bold;}

    .breadcrumbs .info-bread a {
        color: #000000;
    }

    .about-top {
        padding: 30px 0;
        display: block;
    }

    .about-top .avarta {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .about-top .well {
        margin-bottom: 15px;
    }

    .about-top h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .team-about .line {
        display: none;
    }

    .team-about .title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .srv-about {
        margin-bottom: 40px;
    }

    .team-about .avarta-team {
        margin-bottom: 40px;
    }

    .txt-srv {
        padding: 0 0 20px 0;
    }

    .srv-about .item:nth-child(2n) .col-md-6:nth-child(2n) {
        order: 2;
    }

    .srv-about .item:nth-child(2n) .txt-srv {
        padding: 0 0 20px 0;
    }

    .txt-srv h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .qtrinh .title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .forme .title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    #about {
        padding-bottom: 30px;
    }
    .regis {
        flex: 0 0 100%;
        order: 2;
    }

    .regis .item {
        margin-bottom: 15px;
    }

    .regis .item input {
        font-size: 14px;
        height: 40px;
        padding: 0 10px;
    }

    .title-black {
        font-size: 20px;
    }

    .regis .item button {
        height: 40px;
        font-size: 14px;
        min-width: 200px;
    }

    .other-acc {
        padding: 15px 0;
    }

    .other-acc ul {
        margin: 0 -5px;
    }

    .other-acc ul li {
        padding: 0 5px;
    }

    .box-user .avarta {
        margin: 0 auto 20px auto;
        order: 1;
        overflow: hidden;
        border-radius: 100%;
    }

    .box-user .avarta img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        object-fit: cover;
    }

    #account {
        padding-top: 40px;
    }
    #cart {
        padding: 30px 0;
    }

    .title-cate {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .notice-log {
        font-size: 15px;
    }

    .form-cart input {
        font-size: 15px;
        height: 40px;
    }

    .form-cart .item {
        margin-bottom: 15px;
    }

    .form-cart .item .col-md-8 {
        margin-bottom: 15px;
    }

    .form-cart select {
        padding: 0 10px;
        font-size: 15px;
        height: 40px;
    }

    .form-cart .item .col-md-6 {
        margin-bottom: 15px;
    }

    .form-cart .item .col-md-6:last-child {
        margin-bottom: 0;
    }

    .choose-option:after {
        top: 2px;
    }

    .btn-cart {
        margin: 15px 0 20px 0;
        font-size: 14px;
    }
    .list-cart {
        width: 560px;
    }

    .src-mobile {
        overflow: auto;
    }

    .price-cart ul li {
        font-size: 15px;
        color: #000000;
        font-weight: bold;
    }

    .content-quess .title-cate {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .content-quess {
        padding-top: 30px;
    }

    .item-support .info a {
        font-size: 16px;
        color: #000000;
    }

    .list-quess {
        margin-bottom: 20px;
    }

    .list-quess .row {
        margin: 0 -5px;
    }

    .list-quess .col-md-6 {
        padding: 0 5px;
        margin-bottom: 15px;
    }
    .other-cart {
        margin: 0;
        padding-bottom: 30px;
    }
    #contact {
        padding: 40px 0;
    }

    .list-contact {
        padding: 10px 0 40px 0;
    }

    .list-contact ul li {
        padding: 0 5px;
        box-sizing: border-box;
    }

    .list-contact ul {
        margin: 0 -5px;
    }

    .box-place {
        margin-bottom: 30px;
    }
    .news-thumbs .info {
        position: unset;
        width: 100%;
        padding: 20px 0 0 0;
    }

    .news-thumbs h1 {
        font-size: 18px;
        font-weight: bold;
    }

    .news-thumbs {
        margin-bottom: 20px;
    }

    #detail-content {
        padding: 15px 0;
    }

    .item-news .avarta {
        flex: 0 0 45%;
        margin-right: 10px;
    }

    .item-news .info {
        padding: 0;
    }

    .item-news .info .desc {
        display: none;
    }

    .item-news .info h3 a {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 0;
    }

    .button-article {
        display: none;
    }

    ul.cate-date {
        font-size: 10px;
    }

    .item-news {
        margin-bottom: 15px;
    }

    .col-md-3.col-right {
        display: none;
    }

    .pagination {
        max-width: 100%;
        margin-top: 15px;
        padding-top: 15px;
    }
    .list-products .col-md-3 {
        margin-bottom: 10px;
    }

    .item-product {
        border: 1px solid #dbdbdb;
        padding: 10PX;
    }

    .item-product h3 a {color: #000000;font-weight: bold;}

    .item-product .info .price {
        font-weight: normal;
        letter-spacing: 0;
    }

    .pr-color a {
        width: 20px;
        height: 20px;
    }

    .pr-color a.active:after {
        width: 30px;
        height: 30px;
    }

    .list-products .row {
        margin: 0 -5px;
    }

    .list-products .col-md-3 {
        padding: 0 5px;
    }
    .thumbs-top .pr-color {
        bottom: 5px;
        left: 10px;
    }

    .slider-nav {
        max-width: 100%;
        left: 0;
    }

    .slide-thumb .slider-for {
        margin-bottom: 15px;
    }

    .add-cart {
        margin-top: 15px;
        text-align: center !important;
    }

    .slide-thumb {
        margin-bottom: 30px;
    }

    .detail-prd h1 {
        font-size: 20px;
        color: #000000;
    }

    .detail-prd {
        margin-bottom: 30px;
    }

    .tab-prd .nav li a {
        font-size: 15px;
    }

    .tab-prd {
        padding-bottom: 30px;
    }
    .clc img {
        height: auto;
    }
    .list-support .row {
        margin: 0 -5px;
    }

    .list-support .col-md-6 {
        padding: 0 5px;
    }
}
@media (max-width: 575px) {
    .box-srv .col-md-3:last-child {
        border-bottom: 0;
    }
}
@media (max-width: 767px) and (min-width: 576px) {
    .form-regis ul {
        justify-content: center;
    }
    .about-top {
        display: flex;
    }

    .about-top .avarta {
        flex: 0 0 40%;
        margin-bottom: 0;
        margin-right: 20px;
    }
    .item-news .info .desc {
        display: block;
        padding-top: 10px;
    }

    .item-news .avarta {
        flex: 0 0 40%;
    }
} 

@media (max-width: 1023px) and (min-width: 768px) {
    header {
        display: none;
    }
    html {
        overflow-x: hidden;
    }
    body {
        font-size: 14px;
    }
    .caption-banner h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .caption-banner .desc {
        font-size: 20px;
        letter-spacing: 0;
        font-weight: normal;
    }

    body .container {
        max-width: 100%;
        padding: 0 15px;
    }

    .item-srv .icon {
        flex: 0 0 45px;
    }

    .item-srv {
        font-size: 13px;
    }

    .title li:first-child {
        flex: 0 0 auto;
        padding-right: 30px;
    }

    .nav li a {
        font-size: 15px;
    }

    .prd-small .col-md-3 {
        flex:  0 0 50%;
        max-width: 50%;
    }

    .info-subscribe {
        color: #fff;
    }

    .form-sub button {
        margin-top: 15px;
    }

    section.box-capacity {
    }

    .box-gall .col-md-9 {
        flex: 0 0 70%;
        max-width: 70%;
        padding: 0 5px;
    }

    .box-gall .col-md-3 {
        flex:  0 0 30%;
        max-width: 30%;
        padding: 0 5px;
    }

    .box-gall .row {
        margin: 0 -5px;
    }

    .box-gall .avarta {
        margin-bottom: 10px;
    }

    .box-gall .col-md-3 img {
        height: 162px;
    }

    .list-news-home .avarta {
        flex: 0 0 45%;
        margin-right: 10px;
    }

    .list-news-home h4 a {
        font-size: 18px;
    }

    .txt-project .desc {
        padding: 20px 0;
    }

    .txt-project h3 {
        font-size: 18px;
    }

    .regis-box .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .form-regis {
        margin-top: 15px;
    }

    .form-regis ul {
        justify-content: center;
    }

    .regis-box {
        text-align: center;
    }
    .breadcrumbs .avarta img {
        height: 250px;
        object-fit: cover; 
    }

    .about-top .avarta {
        flex: 0 0 300px;
    }
    .form-cart input {
        font-size: 14px;
    }

    .form-cart select {
        font-size: 14px;
    }

    .btn-cart {
        font-size: 14px;
    }

    .price-cart ul li {
        font-size: 14px;
    }

    .list-cart {
        width: 560px;
    }

    .src-mobile {
        overflow: auto;
    }
    .desc-new {
        display: none;
    }

    .news-thumbs h1 {
        font-size: 22px;
        font-weight: bold;
    }

    .title-bar {
        font-size: 18px;
        color: #000000;
    }

    .cate-bar a {
        font-size: 12px;
    }

    .item-news {
        margin-bottom: 15px;
    }

    .item-news .avarta {
        flex: 0 0 45%;
        margin-right: 15px;
    }

    .item-news .info {
        padding: 0;
    }

    .button-article {
        display: none;
    }

    .item-news .info .desc {
        margin-bottom: 0;
    }
    .list-hot .readmore a {
        display: none;
    }

    .list-hot .item .avarta {
        flex: 0 0 40px;
    }

    .list-hot .item .info h5 a {
        font-size: 12px;
    }
}

@media (min-width: 1024px) and (max-width: 1364px) {
    html {
        overflow-x: hidden;
    }
    .header-menu .left ul li {
        padding-right: 22px;
    }

    .header-menu .left a {
        font-size: 12px;
    }
    .item-news .avarta {
        flex: 0 0 45%;
    }
    .list-hot .readmore a {
        display: none;
    }
    .header-menu .mega-menu {
        width: 100%;
    }
}